@import "tailwindcss";

/* ✅ MOVE THIS OUTSIDE */
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins-regular.woff");
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #b41d64;
  --color-secondary: rgb(66 177 201);
  --color-accent: rgb(35 142 192);
  --color-accent-light: rgb(240 204 126);
  --color-dark: rgb(43 43 43);
  --color-light-warning: rgb(255 253 231);
  --color-not-active: rgb(255, 128, 39);
  --color-hidden: rgb(237, 28, 36);
  --color-warning: rgb(240 154 2);
  --color-alert: rgb(63 5 5);
  --color-secondary-green: rgb(52 136 109);
  --color-success: rgb(0 145 38);

  --color-green: rgb(55 135 109);
  --color-green-light: rgb(67 169 139);
  --color-sage: rgb(141 203 140);
  --color-blue: rgb(71 177 201);
  --color-dark-blue: rgb(22 85 115);

  --font-poppins: "poppins", sans-serif;

  --font-sans: "poppins", sans-serif;
  --font-dmsans-bold: "Poppins-bold", sans-serif;
  --font-dmsans-regular: "Poppins-regular", sans-serif;
  --default-font-family: "poppins", var(--font-sans);

  --animate-shake: shake 0.2s ease-in-out;
  --animate-fadeIn: fadeIn 0.2s ease-in-out;
  --animate-fadeOut: fadeOut 0.2s ease-in-out;
  --animate-slideUp: slideUp 0.2s ease-in-out;
  --animate-slideDown: slideDown 0.2s ease-in-out;
  --animate-loading: loading 1.5s ease-in-out infinite;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(2px);
    }
    50% {
      transform: translateX(-2px);
    }
    75% {
      transform: translateX(2px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slideUp {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  /* ❌ FIX THIS TOO (missing name) */
  @keyframes slideDown {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(10px);
    }
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}
